.dashbordEdit.blackCls {
  background-image: url(~@/assets/images/dashboard/blackSkin/bg.png);

  #allApps {
    .dragglelistDiv {
      background-color: transparent;
    }
  }
  .drageCls {
    .canvas {
      .smallBg {
        background-image: none;
        background-color: rgba($color: #000, $alpha: 0.2);
        border-radius:8px;
      }

      .bigBg {
        background-image: none;
        background-color: rgba($color: #000, $alpha: 0.2);
        border-radius:8px;
      }
    }
  }
}
