$color-body: #0B0E21;
$bg-color: #0E0E27;

$font-family: PingFangTC-Regular;
$font-color: #666;
$font-size: 14px;


$list-header-color:rgba($color: #2AA0E8, $alpha: 0.08);

// button
$color-primary: #2AA0E8;

$header-height: 60px;
